<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
  <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">
   
    <a href="https://aha-moment.netlify.com/" class="rk-item ae-masonry__item"><img src="assets/img/project-1.jpg" alt="">
      <div class="item-meta">
        <h2>Aha! Moment</h2>
        <p>App MERN</p>
      </div></a>
   
      <a href="http://okeytoplay.herokuapp.com/" class="rk-item ae-masonry__item"><img src="assets/img/project-2.jpg" alt="">
      <div class="item-meta">
        <h2>OkeyToPlay</h2>
        <p>App Full Stack</p>
      </div></a>
   
      <a href="https://johanbautista.github.io/GAME/" class="rk-item ae-masonry__item"><img src="assets/img/project-3.jpg" alt="">
      <div class="item-meta">
        <h2>LUCKY</h2>
        <p>Game Clone</p>
      </div></a>
      
      <a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/project-4.jpg" alt="">
      <div class="item-meta">
        <h2>Veterinary appoinment</h2>
        <p>Practice ReactJS</p>
      </div></a>
      
      <a href="https://www.youtube.com/watch?v=PQKWb62JsAg" class="rk-item ae-masonry__item"><img src="assets/img/project-5.jpg" alt="">
      <div class="item-meta">
        <h2>Spot Cafe Central</h2>
        <p>Practice After Effects</p>
      </div></a>
      
      <a href="https://www.youtube.com/watch?v=OBLu5CItsCQ" class="rk-item ae-masonry__item"><img src="assets/img/project-6.jpg" alt="">
      <div class="item-meta">
        <h2>ETIQUETAS</h2>
        <p>Video Performance</p>
      </div></a>
      
      <a href="https://jb-noticias.netlify.com/" class="rk-item ae-masonry__item"><img src="assets/img/project-7.jpg" alt="">
      <div class="item-meta">
        <h2>Colombian News</h2>
        <p>Practice ReactJS</p>
      </div></a>
      
      <a href="https://www.youtube.com/watch?v=EsLn2nKQduc" class="rk-item ae-masonry__item"><img src="assets/img/project-8.jpg" alt="">
      <div class="item-meta">
        <h2>Video CV</h2>
        <p>After Effects</p>
      </div></a>
      
<!-- //// hasta aqui hay q seguir buscando projectos qu colgar asi mismo habria q buscar imagenes y el de CV destacarlo entre los demas  -->

      <a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/project-9.jpg" alt="">
      <div class="item-meta">
        <h2>Gentrify pork</h2>
        <p>Branding</p>
      </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/project-10.jpg" alt="">
      <div class="item-meta">
        <h2>Waistcoat ugh</h2>
        <p>UI/UX</p>
      </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/project-11.jpg" alt="">
      <div class="item-meta">
        <h2>Deep v kogi</h2>
        <p>Graphic Design</p>
      </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/project-12.jpg" alt="">
      <div class="item-meta">
        <h2>Venmo trust</h2>
        <p>Packaging</p>
      </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/project-13.jpg" alt="">
      <div class="item-meta">
        <h2>Venmo trust</h2>
        <p>Ui/UX</p>
      </div></a>
  </div>
</section>